#register .container #login-row #login-column #login-box {
    margin-top: 80px;
    max-width: 600px;
    height: 500px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #register .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #register .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }